xml/alice_schema.rnc

start = root

root = element root {image*,chapter+}
chapter = element chapter {(heading|p|image|divide)*}
p = element p {mixed{(char|uline|b|lb|i|class)*}}
heading = element heading {text}
image = element image {empty,source}
source = attribute source {xsd:anyURI}
divide = element div {(l|class|divide)*}
l = element l {mixed{indent,uline*}}
class = attribute class{xsd:string}
indent = attribute indent {xsd:string}
uline = element uline {text}
b = element b {text}
lb = element lb {empty}
i = element i {text}
char = element char {text}#add type and name attribites once OG text is altered
type = attribute type {"main" | "side"}
name = attribute name {text} #to be changed to the character list eventually